/node_modules
/public/js/
/public/fonts/
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.php_cs.cache
.phpunit.result.cache
/tests/_reports
